<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        Deze data gaat de database in!
    </h1>
    <section>
        <form method="post" action="/home">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="text" id="Password" name="password" required>
            <input type="submit" placeholder="Verzenden"></input>
        </form>
    </section>
    <section>
        <h2>
            Ga naar de database data 
            <a href="/data">hier</a>
        </h2>
    </section>
</body>
</html>